.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

form {
  padding: 30px;
}

.form-group {
  width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-input-group {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  top: 56%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #645959;
  font-size: 18px;
}

.password-toggle-btn i {
  font-size: 20px;
  color: #777;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f64f64;
  cursor: pointer;
  width: 100%;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.label::after {
  content: "*";
  margin-left: 3px;
  color: #ff3b30;
}

.required {
  color: #ff3b30;
}

.background {
  width: 50%;
  background-image: url("../../Assets/Images/7220775.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.signup-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.radio .radio-mark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #9f8a8a;
  margin-right: 10px;
}
.radio input[type="radio"]:checked + .radio-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f64f64;
}
.radiogroup {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
.radiobuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.radiobuttons label:first-of-type {
  margin-right: 10px;
}
.radio h5 {
  font-weight: 400;
  font-size: 17px;
}
.dont {
  text-align: center;
  color: #645959;
  margin-top: 10px;
}
.dont a {
  text-decoration: none;
  color: #f64f64;
}
.error {
  color: #bf1650;
}
.error::before {
  display: inline;
  content: "⚠ ";
}
.backgroundundraw {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e3e3e;
}
.womanmusic {
  transform:rotateY(180deg);
  width:40%;
}
.contentsignup{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
.signup-container{
  width:50%
}
.activatedrole{
  padding:3px 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #f64f64;
}
.notactivatedrole {
  padding:3px 10px;
  border-radius: 6px;
  color: #f64f64;
  border:1px solid #f64f64;
}
.custom-date-input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

.custom-date-input:focus {
  outline: none;
  border-color: blue;
}
.form-groups {
  display: flex;
  flex-wrap: wrap;
  
}
.form-group {
  width:50%;
  padding:0px 5px;
}
.form {
  width: 100% !important;;
}
#password{
  width: 100%;
}

.progress {
  width: 0;
  background-color: red;
  height: 5px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.circle {
  background: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f1f1f1;
  border-radius: 50px;
}

.active {
  border-color: red;
  transition: 0.6s ease-in;
}

.btn {
  border: none;
  padding: 5px 8px;
  width: 80px;
  font-size: 14px;
  border-radius: 5px;
  background: red;
  color: #fff;
  cursor: pointer;
}

.btn:disabled {
  background: #f1f1f1;
  color: #000;
  cursor: not-allowed;
}
.circle {
  width: 29px;
  height: 29px;
  line-height: 25px;
  background-color: #f64f64;
  color: white;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.stepWrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.stepBlock .circleWrapper {
  padding: 0px 20px;
  position: relative;
}

.selected .circle {
  color: black;
  background-color: white;
  border-color: #f64f64;
}
.selected {
  background-color:white!important;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 62%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -21px;
  background-color: rgb(231, 126, 126);
  margin: auto;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.6;
}

.primaryButton {
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.primaryButton:disabled {
  opacity: 0.5;
}
.birthday {
  display: flex;
  flex-direction: column;
}
.instrumentdiv {
  display: flex;
  flex-direction: column;
  width:33%;
  align-items: center;
}
.instrumentdiv img {
  width:90px;
  height:100px
}
.instrumentdiv h6 {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-align:center;
}
.instrumentssignup {
  display: flex;
  flex-wrap: wrap;
}
.btnsignup {
  padding:6px 10px;
  color: white;
  background-color: #f64f64;
  border: none;
  border-radius: 6px;
}
.btnsubmit {
  padding:6px 10px;
  color: white;
  background-color: #fc1a38;
  border: none;
  border-radius: 6px;
}
.buttonssignup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  gap:20px
}

