.reset-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.reset-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.reset-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  color: #444;
  text-align: center;
}
.reset-form {
  padding: 8px;
  width: 100%;
}
.reset-label {
  margin-bottom: 10px;
}
.reset-input {
  width: 100%;
  border-radius: 5px;
}
.reset-button {
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px 15px;
  color: white;
  background-color: #fd977b;
  margin-top: 20px;
  border-radius: 5px;
}

.resetimg {
  display: block;
  width: 500px;
  margin: 10px auto;
}
.reset-label {
  font-size: 15px;
  font-weight: bold;
}

.resetimg {
  display: block;
  margin: 10px auto;
  width: 70px;
}
.forgotpassword {
  text-align: center;
}
span {
  color: #555;
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin: 15px 2px;
}
.back {
  display: block;
  margin: 10px auto;
  outline: none;
  border: none;
  padding: 10px;
  background-color: transparent;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.arrow {
  color: rgb(0, 0, 0);
  position: absolute;
  left: -7px;
  top: 11px;
}
.send {
  font-size: 16px;
  padding: 10px 10px 10px 8px;
  background-color: hsl(144.14deg 71.9% 76.27%);
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}
.dontexist {
  font-size: 16px;
  padding: 10px 10px 10px 8px;
  background-color: hsl(0, 83%, 71%);
  border-radius: 5px;
  font-weight: 500;
  color: #ffffff;
}
