.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 150px;
  width: 100%;
}
.imgsuccessful img {
  width: 400px;
}
.contentsuccessful {
  width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px 60px;
  border-radius: 20px;
}
.contentsuccessful h1 {
  color: rgb(246, 79, 100);
}
.textsuccessful {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 5px 10px;
  border-bottom: 5px dashed #e8bbbb;
}
.textsuccessful svg {
  color: rgb(246, 79, 100);
  font-size: 60px;
  margin: 0px 0px 10px;
}
.textsuccessful span {
  display: inline-block;
}
.textsuccessful p {
  color: #666;
}
.amountpaid {
  padding: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amountpaid span {
  font-size: 18px;
  display: inline-block;
  color: #777;
}
.amountpaid h2 {
  color: #666;
  font-size: 20px;
}
.contentsuccessful {
  position: relative;
}
.contentsuccessful::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
.iconmusicnote {
  width: 50px;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: -3;
}
.iconmusicnote1 {
  width: 50px;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.contentpay  .stepWrapper {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.loginpayment {
  padding: 8px 12px;
  color: white;
  outline: none;
  background-color: rgb(246, 79, 100);
  border:none;
  border-radius:4px;

}
.saxopayment{
  width:50px;
}
.paymentfooter{
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%

}